/* css racine */

body {
/*  font-family: Comic Sans MS;*/
}

.aligncenter {
      text-align: center;
}

div.research {
  background-color: #33ffff; /*#208090 */ /*#228491*/;
  color: #0000ff; /* ffffff */
}

div.ensg {
  background-color: #bbee00;
  color: #0000ff;
}

div.research span.invisible {
 visibility:hidden;
}

kbd {
  color: #000000;
}

pre {
  color: #000000;
}

A:link {
  color: #0000ee; /*#ffffff;*/
}

A:active {
  color: #ff0000; /* #ffffff */
}

A:hover {
/*  font-size: 2em; */
  text-decoration: none;
  color:  #0000ee; /* ffffff */
  background-color: #FFFF33;
}

h3 {
  color: #FF0000;
}

h4 {
  color: #FF0000;
}

div.correction {
  color: #008800;
/*  color: #000000; */
}

div.detail {
  font-size: 70%;
}

div.fontsize2 {
  font-size: 70%;
}
div.fontsize3 {
  font-size: 50%;
}
div.fontsize4 {
  font-size: 30%;
}
div.fontsize5 {
  font-size: 10%;
}

div.section {
  text-align: center;
  font-size: 140%;
  color: #FF0000;
}

div.subsection {
  text-align: left;
  font-size: 120%;
  color: #bb0000;
  background-color: #FFFF33;
}

div.titreDuModule {
  text-align: center;
  font-size: 200%;
  color: #FF0099;
}

div.formation {
  text-align: center;
  font-size: 120%;
  color: #FF0099;
}

div.ensg.titreDuModule {
  text-align: center;
  font-size: 200%;
  color: #FF0099;
}

div.ensg.formation {
  text-align: center;
  font-size: 120%;
  color: #FF0099;
}

div.centre {
  text-align: center;
}

span.indice {
  font-size: 70%;
}

span.question {
  color: #bb0000;
}

span.tresImportant {
  color: #bb0000;
  font-size: 200%
}

span.assezImportant {
  color: #bb0000;
  font-size: 150%
}

span.important {
  color: #bb0000;
}

span.crucial {
  color: #bb0000;
}

span.crucial:hover {
  font-size: 400%;
}

acronym {
  text-decoration: none;
}

div.theoreme:before {
  content: "Théorème : ";
}

div.theoreme:after {
  content: "emèroéhT";
}

div.theoreme ul li:before {
  content: "1 alinéa ";
}

div.theoreme li:after {
  content: " ce qui termine l'alinéa";
}

div.tpID {
  background-color: #33ffff;
  color: #0000ff;
}

div.tpR {
  font-family: serif;
  color: #000000;
  background-color: #fff;
}

div.tpR span.detail {
  font-size: 75%;
}

div.tpR div.correction:before {
  content: "Idée de la correction : ";
}

div.tpR div.correction {
  background-color: #00ffff;
  border: solid #009999;
  padding: 0.5em;
  margin-left: 2em;
  border-width: 1px;
}

div.tpR div.exercices:before {
  content: "Exercices : ";
}
div.tpR div.exercices {
  background-color: #00ee00;
  border: solid #00cc00;
  padding: 0.5em;
  margin-left: 2em;
  border-width: 1px;
}

div.tpR div.solution:before {
  content: "Solution : ";
}
div.tpR div.solution {
  background-color: #ff00ff;
  border: solid #990099;
  padding: 0.5em;
  margin-left: 2em;
  border-width: 1px;
}

div.tpR div.exerciceOptionnel:before {
  content: "Exercice optionnel : ";
}
div.tpR div.exerciceOptionnel {
  background-color: #00ee00;
  border: solid #00cc00;
  padding: 0.5em;
  margin-left: 2em;
  border-width: 1px;
}

div.tpR div.exercice:before {
  content: "Exercice : ";
}
div.tpR div.exercice {
  background-color: #00ee00;
  border: solid #00cc00;
  padding: 0.5em;
  margin-left: 2em;
  border-width: 1px;
}

div.tpR div.questions:before {
  content: "Questions : ";
}
div.tpR div.questions {
  background-color: #ff99ff;
  border: solid #ff99ff;
  padding: 0.5em;
  margin-left: 2em;
  border-width: 1px;
}

div.tpR span.index {
/*  background-color: #ffff33;*/
}

div.tpR h1 {
 font-family: sans-serif;
 color: #000;
 border-style: solid;
 background-color: #ddf;
 border-color: #88f;
 border-width: 1px;
 padding-left: 0.5em;
}

div.tpR h2 {
 font-family: sans-serif;
 color: #000;
 border-style: solid;
 border-color: #8f8;
 background-color: #dfd;
 border-width: 1px;
 padding-left: 0.5em;
}

div.tpR h3 {
 font-family: sans-serif;
 color: #000;
 border-style: solid;
 background-color: #fdd;
 border-color: #f88;
 border-width: 1px;
 padding-left: 0.5em;
}

div.tpR a:link {
 color: #00f
}

div.tpR a:visited {
 color: #f0f
}

div.tpR p {
 margin-left: 1em;
}

div.tpR pre {
 background-color: #eee;
 border: solid #ccc;
 padding: 0.5em;
 margin-left: 2em;
 border-width: 1px;
}

.redify pre {
  color: #ff0000;
}

div.tpR hr {
 border-style: solid;
 border-color: #02c;
 background-color: #ddf;
 border-color: #88f;
 border-width: 1px;
 padding-top: 1px;
 padding-bottom: 1px;
}

div.pp {
  color: #FF0000;
}

div.infobulle{
  position: absolute;
  visibility : hidden;
  border: 1px solid Black;
  padding: 10px;
  font-family: Verdana, Arial;
  font-size: 13px;
  background-color: #ffffff;
  -moz-border-radius: 20px; /* pour avoir des coins arrondis */
}

/* http://www.w3schools.com/CSS/css_display_visibility.asp */
span.commentPub{
  background-color: #77ff33;
}

span.moreCommentOnPub{
/*  position: absolute;*/
/*  visibility : hidden;*/
/*  border: 1px solid Black;
  padding: 10px;
  font-family: Verdana, Arial;
  font-size: 13px;*/
  background-color: #77ff33;
  -moz-border-radius: 3em 1em; /* 20px; pour avoir des coins arrondis */
  border-radius: 3em 1em; /* 20px; pour avoir des coins arrondis */
}

span.alert {
    color: #ff0000;
    font-size: 300%;
}

span.alertje {
    color: #ff0000;
    font-size: 150%;
}
