**/*~
**/.RData
**/.Rhistory
**/*.php
/sed.bash
/ar/
/ensg/aeac/
/ensg/archives/
/ensg/ed/
/ensg/ed-spi/
/ensg/iaia/
/ensg/m1psycho/
/ensg/m2psycho/
/ensg/miashs/aeac/
/ensg/miashs/apbd2/tpArbres/abr1.2.png
/ensg/miashs/apbd2/books/
/ensg/miashs/apbd2/cc2.correction.pdf
/ensg/miashs/apbd2/cc3.correction.pdf
/ensg/miashs/apbd2/colors.cpython-32.pyc
/ensg/miashs/apbd2/correction.cc1.Prenom.Nom.pdf
/ensg/miashs/apbd2/graphes/
/ensg/miashs/apbd2/leMondeDesTortues.py
/ensg/miashs/apbd2/leMondeDesTortuesGrid.py
/ensg/miashs/apbd2/random.distributions/
/ensg/miashs/apbd2/reponses.cc1.Prenom.Nom.odt
/ensg/miashs/apbd2/tpABR/100.nombres
/ensg/miashs/apbd2/tpABR/1000.nombres
/ensg/miashs/apbd2/tpABR/200.nombres
/ensg/miashs/apbd2/tpABR/300.nombres
/ensg/miashs/apbd2/tpABR/abr100.dot
/ensg/miashs/apbd2/tpABR/abr1000.dot
/ensg/miashs/apbd2/tpABR/abr200.dot
/ensg/miashs/apbd2/tpABR/abr300.dot
/ensg/miashs/apbd2/tpArbres/abr1.dot
/ensg/miashs/apbd2/tpFourmis/divers.ps
/ensg/miashs/apbd2/tpFourmis/divers.py
/ensg/miashs/apbd2/tpFourmis/toto.py
/ensg/miashs/apbd2/tpGraphes/cc/
/ensg/miashs/apbd2/tpMvtBrownien/lasuite.html
/ensg/miashs/apbd2/tpMvtBrownien/sc.py
/ensg/miashs/ed/
/ensg/miashs/ed-spi/
/ensg/miashs/iaia/
/ensg/miashs/m1psycho/
/ensg/miashs/m2psycho/
/ensg/miashs/mri/
/ensg/archives/2003-2004/
/ensg/archives/prolog/
/ensg/archives/R8/
/ensg/archives/sc/
/ensg/archives/2005-2006/id/
/ensg/archives/2005-2006/iies/
/ensg/archives/2005-2006/miashs/
/ensg/mri/
/software/StoSOO/index.html
/talks/damas.pdf
/talks/fera1.pdf
/talks/lampada.sep2010.pdf
/talks/lisic.pdf
