**/*~
**/.RData
**/.Rhistory
**/*.php
**/.gitignore
/2check.if.ok
/index-prev.html
/mes-papiers/liste.updated.TPMS
/yet.to.do
/digest-RL/
/mes-papiers.txt
/mes-papiers/script.bash
/sed.bash
/ar/
/ensg/archives/
/ensg/ed/
/ensg/ed-spi/
/ensg/iaia/
/ensg/m1psycho/
/ensg/m2psycho/
/ensg/miashs/apbd2/tpArbres/abr1.dot
/ensg/miashs/apbd2/tpABR/100.nombres
/ensg/miashs/apbd2/tpABR/1000.nombres
/ensg/miashs/apbd2/tpABR/200.nombres
/ensg/miashs/apbd2/tpABR/300.nombres
/ensg/miashs/apbd2/tpABR/abr100.dot
/ensg/miashs/apbd2/tpABR/abr1000.dot
/ensg/miashs/apbd2/tpABR/abr200.dot
/ensg/miashs/apbd2/tpABR/abr300.dot
/ensg/miashs/apbd2/tpArbres/abr1.dot
/ensg/miashs/l3-ap/2spirals.test.csv
/ensg/miashs/l3-ap/2spirals.train.csv
/ensg/miashs/l3-ap/cc1.Prenom.Nom.2015.odt
/ensg/miashs/l3-ap/cc2.Prenom.Nom.2015.odt
/ensg/miashs/l3-ap/session2.Prenom.Nom.2015.odt
/ensg/miashs/l3-ap/tps/kppv/__pycache__/
/ensg/miashs/l3-rnf/cc.*
/ensg/miashs/l3-rnf/s2-pia.Prenom.Nom.2016.odt
/ensg/miashs/l3-rnf/session2.R
/ensg/miashs/l3-rnf/session2.test.txt
/ensg/miashs/l3-rnf/session2.txt
/ensg/miashs/l3-rnf/session2b.test.txt
/ensg/miashs/l3-rnf/session2b.txt
/ensg/miashs/l3-rnf/tps/sgd/MNIST
/ensg/miashs/l3-rnf/tps/sgd/essai.R
/ensg/miashs/l3-rnf/tps/sgd/perceptron.R
/ensg/miashs/l3-rnf/tps/sgd/perceptron.binaire.R
/ensg/miashs/l3-rnf/tps/sgd/sgd.R
/ensg/miashs/l3-rnf/tps/som/
/ensg/miashs/l3-thg/
/ensg/miashs/m1psycho/
/ensg/miashs/m2psycho/
/ensg/miashs/mri/
/ensg/miashs/rnf/cc1.Prenom.Nom.2015.odt
/ensg/miashs/rnf/cc2.Prenom.Nom.2015.odt
/ensg/miashs/rnf/tps/perceptron/save/
/ensg/miashs/rnf/tps/som/
/ensg/miashs/rnf/tps/td-model/i
/ensg/mocad/tp/bandits/cc.html
/ensg/mocad/tp/bandits/gen_beta.c
/ensg/mocad/tp/bandits/gen_beta.h
/ensg/mocad/tp/bandits/index.avec.gen_beta.et.gsl.html
/ensg/mocad/tp/bandits/index.php.bak
/ensg/mocad/tp/bandits/s3.html
/ensg/mocad/tp/bandits/seance2.html.bak
/ensg/mocad/tp/bandits/toto.html
/ensg/mocad/tp/completion-matrices/.nmf.sg.log
/ensg/mocad/tp/completion-matrices/features
/ensg/mocad/tp/completion-matrices/ml-100k/
/ensg/mocad/tp/completion-matrices/pb-artif.features
/ensg/mocad/tp/completion-matrices/pb-artif.xeq.w.features.features
/ensg/mocad/tp/completion-matrices/pb-artif.xeq2.features
/ensg/mocad/tp/completion-matrices/probleme-artificiel
/ensg/mocad/tp/completion-matrices/probleme-artificiel.html
/ensg/mocad/tp/completion-matrices/seance2.html
/ensg/mocad/tp/pdm/cc.html
/ensg/mocad/tp/pdm/exemple-fann.html
/ensg/mocad/tp/pdm/fichier-de-donnees-app.dat
/ensg/mocad/tp/pdm/laby.2ter
/ensg/mocad/tp/pdm/laby.c
/ensg/mocad/tp/pdm/laby.h
/ensg/mocad/tp/pdm/ma.css
/ensg/mocad/tp/pdm/pendule
/ensg/mocad/tp/pdm/pendule.c
/ensg/mocad/tp/pdm/pendule.h
/ensg/mocad/tp/pdm/seance2.html
/ensg/mocad/tp/pdm/seance3.html
/ensg/archives/2003-2004/
/ensg/archives/prolog/
/ensg/archives/R8/
/ensg/archives/sc/
/ensg/archives/2005-2006/id/
/ensg/archives/2005-2006/iies/
/ensg/archives/2005-2006/miashs/
/ensg/mri/
/software/StoSOO/index.html
/talks/damas.pdf
/talks/fera1.pdf
/talks/lampada.sep2010.pdf
/talks/lisic.pdf
