**/*~
**/.RData
**/.Rhistory
/sed.bash
/ar/
/ensg/aeac/
/ensg/archives/
/ensg/ed/
/ensg/ed-spi/
/ensg/iaia/
/ensg/m1psycho/
/ensg/m2psycho/
/ensg/miashs/aeac/
/ensg/miashs/ed/
/ensg/miashs/ed-spi/
/ensg/miashs/iaia/
/ensg/miashs/m1psycho/
/ensg/miashs/m2psycho/
/ensg/miashs/mri/
/ensg/archives/2003-2004/
/ensg/archives/prolog/
/ensg/archives/R8/
/ensg/archives/sc/
/ensg/archives/2005-2006/id/
/ensg/archives/2005-2006/iies/
/ensg/archives/2005-2006/miashs/
/ensg/mri/
/software/StoSOO/index.html
/talks/damas.pdf
/talks/fera1.pdf
/talks/lampada.sep2010.pdf
/talks/lisic.pdf
